<div>
    <main>
        <section>
            <div>
                <h1>{{page_header.title}}</h1>
                <p>{{page_header.description}}</p>
            </div>

            <div>
                <h2>{{section.about_us.title_list.main}}</h2>
                <p>{{section.about_us.title_list.sub}}</p>
                <button>{{section.about_us.button.text}}</button>
            </div>

            <div>
                <h2>{{section.advantage.title}}</h2>

                <div>
                    <h3>{{section.advantage.efficiency.title}}</h3>
                    <p>{{section.advantage.efficiency.sub_title}}</p>
                    <p>{{section.advantage.efficiency.description}}</p>
                    <button>{{section.advantage.efficiency.button}}</button>
                </div>

                <div>
                    <h3>{{section.advantage.innovation.title}}</h3>
                    <p>{{section.advantage.innovation.sub_title}}</p>
                    <p>{{section.advantage.innovation.description}}</p>
                    <button>{{section.advantage.innovation.button}}</button>
                </div>

                <div>
                    <h3>{{section.advantage.collaboration.title}}</h3>
                    <p>{{section.advantage.collaboration.sub_title}}</p>
                    <p>{{section.advantage.collaboration.description}}</p>
                    <button>{{section.advantage.collaboration.button}}</button>
                </div>
            </div>

            <div>
                <h2>{{section.agreement.title}}</h2>
                <div>
                    <h3>{{section.agreement.info.sub_title}}</h3>
                    <p>{{section.agreement.info.detail.text}}</p>
                    <button>{{section.agreement.info.detail.button}}</button>
                </div>
            </div>
        </section>
    </main>
</div>